body {
  font-family: sans-serif;
  text-align: center;
  background: url('prims.svg') no-repeat fixed;
  background-position: 0%;
  margin: 0;
  background-size: cover;         /* ✅ Cubre todo el contenedor */
  background-position: center;    /* ✅ Centrada */
  background-repeat: no-repeat;   /* ❌ No se repite */
  width: 100%;                    /* Se adapta horizontalmente */
  height: 100vh;   
}

header {
  background: #1d87db;
  color: white;
  padding: 10px 0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.box-q {
  background-color: #1d87db;
  border-radius: 12px;
  padding: 20px;
}

.progress-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s, transform 0.3s;
}

.progress-dot.active {
  background-color: #007bff;
  transform: scale(1.3);
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1d72b8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #155d8b;
}

.hidden {
  display: none;
}
